# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python version file
.python-version

# Poetry / dependency management
pyproject.toml
poetry.lock
*.lock

# IDEs and editors
.vscode/
.idea/
